body{
    background-color: beige;
    margin: 0;
    padding: 0;
}
fieldset{
    background-color: aqua;
    width: 50vh;
    padding: 1rem;
    margin: 1rem;
}
legend{
    color: brown;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label{
    color:darkred;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#go{
    color:azure;
    background-color: blue;
}